In [ ]:
import pandas as pd
import requests
import csv

In [1]:
url = "https://www.kaggle.com/code/avikumart/world-university-rankings-data-viz/input?select=2022_rankings.csv"

In [ ]:
# response = requests.get(url)
# data = response.iter_lines()
# data_table = pd.read_csv(r"https://www.kaggle.com/code/avikumart/world-university-rankings-data-viz/input?select=2022_rankings.csv")

In [ ]:
#df_rankings22.dropna()

In [ ]:
import seaborn as sns

In [ ]:
# data = df_rankings22.head(10)
# data_list = data[["name","scores_overall"]]
# data_list

In [ ]:
#Top 10 universities by scores
data = df_rankings22.head(10)
data_list = data[["name","scores_overall"]]

In [ ]:
data = df_rankings22.head(10)
data_list = data[["name","scores_overall"]]

In [2]:
data_list = {}
# creating the dataset
data = {'C':20, 'C++':15, 'Java':30,
        'Python':35}
courses = list(data.keys())
values = list(data.values())
  
fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(courses, values, color ='maroon',
        width = 0.4)
 
plt.xlabel("Courses offered")
plt.ylabel("No. of students enrolled")
plt.title("Students enrolled in different courses")
plt.show()


make data:
np.random.seed(3)
x = 0.5 + np.arange(8)
y = np.random.uniform(2, 7, len(x))

# plot
fig, ax = plt.subplots()

ax.bar(x, y, width=1, edgecolor="white", linewidth=0.7)

ax.set(xlim=(0, 8), xticks=np.arange(1, 8),
       ylim=(0, 8), yticks=np.arange(1, 8))

plt.show()

SyntaxError: invalid syntax (1399775588.py, line 20)

In [ ]:
pl.hist(x=data_list["name"], width=0.25, bins=10, color = "yellow", ec = "white")
pl.title("TOP 10 Universities by scores", color ="grey", fontweight = "14")
pl.ylabel("Scores", color="grey")
pl.xlabel("The name of the University", color="grey")
pl.xticks(rotation=45, ha="right")

In [ ]:
#taking only specific data from the dataframe
data = df_rankings22.head(10)
data_list = data[["name"]]
data_list

In [ ]:
import numpy as np
import matplotlib.pyplot as pl
import seaborn as sns

In [ ]:
pl.plot(x="name", y= [20, 40, 60, 80,100],
            hue ="scores_teaching",
            data = df_rankings22.head(10))

pl.title("Scores Teaching", color ="grey", fontweight = "14")
pl.ylabel("Scores", color="grey")
pl.xlabel(" Scores Teaching", color="grey")
pl.xticks(rotation=45, ha="right")

pl.show()

In [ ]:
df_rankings22.plot(kind="bar", stacked = True)

In [ ]:
# df_rankings22.head()
# df = pd.DataFrame(df_rankings22)
# name = df["name"].head(10)
# scores = df["scores_research", "scores_teaching"].head(10)

# pl.bar(name[0:100], scores[0:100], width=0.75)

# pl.title("TOP 10 Universities Research vs Teaching Scoresw", color ="grey", fontweight = "14")
# pl.ylabel("Scores", color="grey")
# pl.xlabel("The name of the University", color="grey")
# pl.xticks(rotation=45, ha="right")

In [ ]:
# sns.barplot(x="name", y= [20, 40, 60, 80,100],

           hue ="scores_teaching",
            data = df_rankings22.head(10))

pl.title("Scores Teaching", color ="grey", fontweight = "14")
pl.ylabel("Scores", color="grey")
pl.xlabel(" Scores Teaching", color="grey")
pl.xticks(rotation=45, ha="right")
pl.figure(figsize = (10, 150))


# pl.show()

In [3]:
# Example 1: Split column of lists into two new columns
df[["stats_female_male_ratio"]] = df.2022.head(20).str.split("_", expand = True)

# Example 2: Split single column into two columns use ',' delimiter
df[['First Name', 'Last Name']] = df.Student_details.str.split(",", expand = True)

# Example 3: Split single column into two columns use ',' delimiter
df[['First Name', 'Last Name']] = df.Student_details.str.split(",", expand = True)

# Example 4: Split single column into two columns use apply()
df[['First Name', 'Last Name']] = df["Student_details"].apply(lambda x: pd.Series(str(x).split(",")))

# Example 5: # Split single column into two columns use apply()
df[['First Name', 'Last Name']] = df["Student_details"].apply(lambda x: pd.Series(str(x).split("_")))

SyntaxError: invalid syntax (1134697895.py, line 2)

In [ ]:
fig = px.bar(df.head(20), x="name", y="	stats_female_male_ratio",
             hover_data=["female_ratio", "male_ratio"],
             labels={"female_ratio":"Female", "male_ratio":"Male"}, height=400, title="Female vs Male Ratio")

fig.show()

In [ ]:
fig.update_yaxes(autorange="reversed")
fig.update_xaxes(autorange="reversed")